#homeBtnsRemote{
    margin:auto;
    width:170px;
    height:180px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around ;
    margin-bottom: 10px;
}
#homeBtnsRemote2{
    display: none;
}
.homeBtns{
    width: 75px;
    height: 50px;
    background-color: rgb(50, 150, 255);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.homeActionInputs{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}
#homeBtn1{
    width: 100px;
    height: 30px;
    background-color: rgb(50,150,255);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
#homeMainDiv{
    padding-bottom: 30px;
}
#openRemote{
    display: none;
}

@media(min-width:720px){
    #homeBtnsRemote{
        display: none;
    }
    #homeBtnsRemote2{
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 86px;
        left: -310px;
        flex-direction: column;
        border-left: 1px solid black;
        border-right: 1px solid black;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    .homeBtns{
        color: rgb(50, 100, 255);
        width: 300px;
        border-bottom: 1px solid black;
        border-radius: 0px;
        background-color: lightblue;
    }
    #openRemote{
        cursor: pointer;
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;
        width: 40px;
        height: 40px;
        z-index: 5000;
        background-color: rgb(50,150,255);
        border: none;
        font-weight: bold;
        font-size: 20px;
    }
    #image1{
        color: white;
    }
    @keyframes slideIn{
        from{
            left: -310px;
        }
        to{
            left: 0;
        }
    }
    @keyframes slideOut{
        from{
            left: 0;
        }
        to{
            left: -310px;
        }
    }
}
