#signupDiv{
    position: relative;
}
.signupInputs{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 5px;
}
.signupBtns{
    width: 100px;
    height: 30px;
    background-color: rgb(50, 150, 255);
    color: white;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#signupBtn2{
    margin-top: 5px;
}
#showPass1{
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 96px;
    height: 30px;
    width: 30px;
    border: none;
    background-image: url("../images/eyeSign1.png");
    background-size: contain;
    filter: opacity(40%);
}
@media(min-width:720px){
    .signupBtns{
        width: 260px;
        height: 40px;
        font-size: 20px;
        margin-top: 10px;
    }
    #signupBtn2{
        margin-top: 10px;
    }
    #signupInputsDiv{
        width: fit-content;
        margin: auto;
        height: fit-content;
        position: relative;
    }
    #showPass1{
        right: 6px;
        top: 93px;
    }
}